<div class="container-fluid page">
  <div class=" mt-3 page__content shadow p-3">
    <div class="row">
      <h4 class="banner col-6">Thêm mới tài khoản</h4>
      <hr style="color:gray">
    </div>
    <app-spinner *ngIf="show"></app-spinner>
    <form (ngSubmit)="onSubmit()" [formGroup]="accountForm">
      <div  class="container title row" style="width:30%;margin: auto;">
        Tên <input type="text" class="form-control mb-2" placeholder="Tên" formControlName="name" value="{{data.name}}">
        Email<input type="email" class="form-control mb-2" placeholder="Email" formControlName="email"
          value="{{data.email}}">
        Số điện thoại<input type="text" class="form-control mb-2" placeholder="Số điện thoại" formControlName="phone"
          value="{{data.phone}}">
        Ngày sinh<input type="date" class="form-control mb-2" placeholder="Ngày sinh" formControlName="birthday"
          value="{{data.birthday}}">
        Quyền<select class="form-control mb-2">
          <option value="">Admin</option>
          <option value="">Nhân viên</option>
        </select>
        Mật khẩu<input type="password" class="form-control mb-2" placeholder="Mật khẩu" formControlName="password"
          value="{{data.password}}">
        <div class="mt-2 align-content-between">
          <button class="btn btn-primary" type="submit" [disabled]="show">
            <span *ngIf="show" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Cập nhật
          </button>
          <!-- <button class="btn btn-primary" type="submit">Cập nhật</button> -->
          <button class="btn btn-outline-secondary" (click)="reset()">Làm
            mới</button>
        </div>

      </div>
    </form>
  </div>
</div>
