@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
html, body { height: 100%; margin: 0; }
body {
  font-family: 'Raleway', sans-serif;
  background: #E9F8DF;
  -webkit-font-smoothing: antialiased;
}

:focus { outline: 0; }

#wrapper {
  perspective: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate3d(-50%,-50%,0);
}

h1 {
  color: #0d6efd;
  font-size: 43px;
  margin: 0;
}
h4 {
  color: #c5c5c5;
  margin: 0;
}

form {
  margin: 35px 0;
}


input {
  background: #FFFEFC;
  border: 0;
  box-sizing: border-box;
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin: 0 auto;
  padding: 13px;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
  width: 300px;
  transform-origin: 0 0;
  -webkit-font-smoothing: antialiased;

  &:hover {
    background: #f3f3f3;
  }
  &:focus {
    background: #EAEAEA;
  }

  &[type=submit] {
    background: #0d6efd;
    color: #FFFEFC;
    cursor: pointer;
  }
  &[type=radio] { display: none; }
}


label {
  display: block;
  font-size: 14px;
  color: #0d6efd;
  margin-bottom: 5px;
  font-weight: 600;
  height: 16px;
  transition: opacity 1s .3s;
  overflow: hidden;
  span {
    cursor: pointer;
    color: #c5c5c5;
  }
}

#hint {
  position: absolute;
  bottom: 20px;
  opacity: .2;
  left: 50%;
  margin: 0 -62px;
  font-weight: 600;
}
