<div id="wrapper">
  <img style="width:60%" src="https://t4.ftcdn.net/jpg/03/30/51/87/360_F_330518767_Gkkl2yDiHs6Ksik1uTByyqObrDw39nbG.jpg"/>

  <h4>Đăng nhập để tiếp tục...</h4>
  <form>
    <div id="inputs">
      <div>
        <input type="text" placeholder="email" autofocus>
        <div>
          <input  type="password" placeholder="mật khẩu">
          <input class="mt-2" type="submit" routerLink="/home">
        </div>
      </div>
    </div>
    <div id="labels">
    </div>
  </form>
</div>

<div id="hint">@anhcoming</div>