<mat-nav-list>
  <div class="logo ">
    <i class="bi bi-person-circle"> Admin</i>
  </div>
  <!-- <mat-divider></mat-divider> -->
  <h2 matSubheader class=" mt-2" style="color:gray">APPLICATION</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Bảng tin
  </a>
  <a mat-list-item routerLinkActive="list 1-item-active" routerLink="/order">
    <mat-icon>mail</mat-icon> Đơn hàng
  </a>
  <hr style="color:gray">
  <!-- Thư viện ảnh -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="img">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#hinhAnh"
        aria-expanded="false" aria-controls="collapseTwo">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/image">
          <mat-icon>assessment</mat-icon> Thư viện Ảnh
        </a>
      </button>
    </h2>
  </div>
  <!-- Danh mục sản phẩm -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="cate">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dsdm"
        aria-expanded="false" aria-controls="collapseTwo">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/category">
          <mat-icon>assessment</mat-icon> Danh mục sản phẩm
        </a>
      </button>
    </h2>
  </div>
  <!-- Sản phẩm -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="product">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dssp"
        aria-expanded="false" aria-controls="dssp">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/product">
          <mat-icon>card_travel</mat-icon> Sản phẩm
        </a>
      </button>
    </h2>
  </div>

   <!-- Màu sắc -->
   <div class="accordion-item">
    <h2 class="accordion-header" id="product">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dssp"
        aria-expanded="false" aria-controls="dssp">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/product">
          <mat-icon> format_color_fill</mat-icon> Màu sắc
        </a>
      </button>
    </h2>
  </div>

   <!-- Size -->
   <div class="accordion-item">
    <h2 class="accordion-header" id="product">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dssp"
        aria-expanded="false" aria-controls="dssp">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/product">
          <mat-icon>card_travel</mat-icon> Kích cỡ
        </a>
      </button>
    </h2>
  </div>

  <hr style="color:gray">
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/account">
    <mat-icon>account_circle</mat-icon> Tài khoản
  </a>

</mat-nav-list>
