<mat-nav-list>
  <div class="logo " >
    <img  src="https://t4.ftcdn.net/jpg/03/30/51/87/360_F_330518767_Gkkl2yDiHs6Ksik1uTByyqObrDw39nbG.jpg"/>
  </div>
  <!-- <mat-divider></mat-divider> -->
  <h2 matSubheader class=" mt-2" style="color:gray">APPLICATION</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Trang chủ
  </a>
  <a mat-list-item routerLinkActive="list 1-item-active" routerLink="/order">
    <mat-icon>mail</mat-icon> Đơn hàng
  </a>
  <hr style="color:gray">
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/category">
    <mat-icon>assessment</mat-icon> Loại sản phẩm
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/product">
    <mat-icon>card_travel</mat-icon> Sản phẩm
  </a>
  <hr style="color:gray">
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/account">
    <mat-icon>account_circle</mat-icon> Tài khoản
  </a>

</mat-nav-list>
