<div class="container-fluid page">
  <div class=" mt-3 page__content shadow p-3">
    <div class="row">
      <h4 class="banner col-6">Thêm mới Danh mục</h4>
      <hr style="color:gray">
    </div>
    <app-spinner *ngIf="show"></app-spinner>
    <form (ngSubmit)="onSubmit()" [formGroup]="categoryForm">
      <div  class="container title row" style="width:30%;margin: auto;">
        Tên Danh mục<input type="text" class="form-control mb-2" placeholder="Tên" formControlName="name" value="{{data.name}}">
        Chi tiết danh mục<input type="text" class="form-control mb-2" placeholder="detail" formControlName="detail"
          value="{{data.detail}}">
        Ngày tạo<input type="date" class="form-control mb-2" placeholder="ngày tạo" formControlName="createdDate"
          value="{{data.createdDate}}">
        <div class="mt-2 align-content-between">
          <button class="btn btn-primary" type="submit" [disabled]="show">
            <span *ngIf="show" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Cập nhật
          </button>
          <!-- <button class="btn btn-primary" type="submit">Cập nhật</button> -->
          <button class="btn btn-outline-secondary" (click)="reset()">Làm
            mới</button>
        </div>

      </div>
    </form>
  </div>
</div>
